/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANYekan";
  src: url("/assets/fonts/Qs_Iranyekan.ttf") format("truetype");
}

body {
  font-family: "IRANYekan", "Roboto", Helvetica, sans-serif;
}
